################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lagrange Interpolation/.ipynb_checkpoints
/Gauss Elemination/.ipynb_checkpoints
